<!--<app-form (tareaOutput)="recibirTarea($event);"></app-form>
<lista-de-tareas [listaTarea]="lista"></lista-de-tareas>-->
<div >
    <div class="container-componets">
        <lista-productos (prodOutput)="recibirProducto($event);"></lista-productos>
    </div>
    
    <div *ngIf="datos.listaProd.length != 0 && !compra">
        <lista-productos-pedidos [datos]="datos"></lista-productos-pedidos>
        <app-botones (eliminarOutput)="cancelarPedido();" (comprarOutput)="comprarPedido();"></app-botones>
        
    </div>
    <div *ngIf="compra">
        <p>se realizo la compra</p>
    </div>
</div>
